@import '../assets/fonts/proximaNova.css';

body {
    font-family: 'Proxima Nova';
    font-weight: 400;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

@media (max-width: 1400px) {
    .container{
        margin: 0 15px;
    }
}