@import "@Styles/consts.less";

.slides{
    width: 100vh;
}

.slide{
  max-width: 1200px;
  height: calc(100vh - 123px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  position: absolute;
  bottom: 20px;


  &__title{
      font-weight: 800;
      font-size: 4.15vw;
      color: @font-white;
      margin: 30vh 0 18px 0;
  }
  &__text{
      color: @font-white;
      font-size: 16px;
      margin-bottom: 5vw;
      line-height: 24px;
  }

  &__btn{
    .default-btn();
  }

  img{
    transform: translateY(20px);
  }
}

.markers{
    display: flex;
    flex-direction: row;
    gap: 11px;
    position:absolute;
    top: 90vh;
    left: 50%;
    transform: translateX(-50%);
}

.anim_1{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: next;
}

.anim_2{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: previous;
}

.anim_3{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: put_away_left;
}

.anim_4{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: put_away_right;
}

@keyframes next {
    from {
        transform: translateX(120%);
    }
  
    to {
        transform: translateX(0);
    }
}

@keyframes previous {
    from {
        transform: translateX(-120%);
    }
  
    to {
        transform: translateX(0);
    }
}

@keyframes put_away_left {
    from {
        transform: translateX(0);
    }
  
    to {
        transform: translateX(-120%);
    }
}

@keyframes put_away_right {
    from {
        transform: translateX(0);
    }
  
    to {
        transform: translateX(120%);
    }
}

@media (max-width: 1400px) {
    .slide {
        &__btn, img{
            display: none;
        }

        &__title{
            font-size: 64px;
            margin-top: 20vh;
        }
        
    }   
}

@media (max-width: 530px) {
    .slide__btn{
      display: block;
    }

    .slide__btn{
        margin: 40px auto 0 auto;
        width: 80%;
    }

    .slide__title{
        font-size: 35px;
        margin-top: 5vh;
    }
}